.app {
  display: flex;
  /* box-sizing: border-box; */
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 1% 1%;
  margin: 0;
  justify-content: space-between;
}

.youtube {
  display: flex;
  height: 125%;
  width: 125%;
  position: fixed;
  top: -50px;
  overflow: hidden;
  z-index: -1;
}

.themelist-container {
  display: none;

  border-radius: 20px;
  border: 1px solid #232931;
  background: linear-gradient(180deg, rgba(64, 50, 69, 0.75) 0%, rgba(79, 78, 113, 0.80) 50%, rgba(82, 110, 208, 0.85) 100%);
  
  height: 310px;
  flex-shrink: 0;

  position: absolute; /* Set position to absolute */
}