body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: orange;
    background-image: url(assets/215948.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.next-button {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other content */
    opacity: 0.5; /* Set low opacity */
    transition: opacity 0.3s ease; /* Smooth transition on hover */
}

.next-button:hover {
    opacity: 0.7; /* Increase opacity on hover */
}




.video-control {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9999; /* Ensure it's above other content */
}

.controls {
    display: flex;
    align-items: center;
}

.controls select {
    margin-right: 10px;
}

#videoTitle {
    margin-top: 10px; /* Adjust as needed */
    color: white;
    font-size: 20px;

}

/* ButtonClass to the center of the website */
.buttonClass {
    display: flex; /* Arranges buttons in a row */
    justify-content: space-around; /* Evenly distributes buttons */
    width: fit-content; /* Prevents unnecessary extra space */
    margin: 10px auto; /* Adds some margin for spacing */
  }
  
  .buttonClass button {
    background-color: transparent; /* Makes buttons transparent */
    border: none; /* Removes borders */
    cursor: pointer; /* Indicates clickable elements */
    font-size: 1rem; /* Sets button text size */
    color: inherit; /* Inherits color from parent element */
    padding: 5px 10px; /* Adds some padding for spacing */
    transition: all 0.2s ease-in-out; /* Adds smooth hover effect */
  }
  
  .buttonClass button:hover {
    transform: scale(1.1); /* Makes buttons slightly bigger on hover */
    color: white; /* Changes button text color on hover */
  }
  
  

select#playlist {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 20px;
    font-family: "Cute Font", sans-serif;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  select#playlist option {
    font-size: 20px;
    font-family: "Cute Font", sans-serif;
    /* Adjust font size as desired */
}
  select#playlist:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
  }