.taskbar {
    display: flex;
    max-height: 5%;
    max-width: 60%;
    min-width: 580px;
    box-sizing: border-box;
    flex-grow: 1;
    flex: 1;

    border-radius: 75px;
    border: 1px solid #232931;
    background: rgba(82, 74, 121, 0.70);

    align-items: center;
    justify-content: space-between;
    padding: 1.5% 3%;
    margin-bottom: 1.5%;
}

img {
    max-height: 100%;
    width: auto;
    flex-shrink: 1;
}

button {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 4vh;
    width: auto;
    flex-shrink: 1;
}

.theme {
    width: 20vw;
    height: 5vh;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1.5px solid #97D8EC;
    background: #3E3245;
    margin-left: 1.5vw;
    color: #F6F494;
    text-align: center;
    font-family: Coiny;
    font-size: 95%;
    font-style: normal;
    font-weight: 400;
    padding: 0 1%;
    line-height: normal;
    max-width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-wrap: nowrap;

    overflow: hidden;
}

.textScroll{
    animation: scroll 20s infinite linear;
}

@keyframes scroll {
    0%{
        transform: translateX(25%);
    }
    100%{
        transform: translateX(-25%);
    }
}

.play-stop {
    height: 5.5vh;
}

.volumn,
.timer {
    height: 4.3vh;
}

.todo-list-icon {
    height: 4vh
    /* width: 0; */
}