.themelist {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: #F6F494;
    text-align: center;
    font-family: Coiny;
    font-size: 95%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    gap: 10px;
}


.theme-item {
    width: 100%;
    height: 30px;
    flex-shrink: 1;

    border-radius: 20px;
    background: #3E3245;

    display: flex; /* Change display to block */
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
